{% extends 'base.html.twig' %}

{% block title %}Doprava{% endblock %}

{% block body %}
    <h1>Doprava</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ doprava.id }}</td>
            </tr>
            <tr>
                <th>TypDopravy</th>
                <td>{{ doprava.typDopravy }}</td>
            </tr>
            <tr>
                <th>Cena</th>
                <td>{{ doprava.cena }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ doprava.price }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('doprava_index') }}">back to list</a>

    <a href="{{ path('doprava_edit', {'id': doprava.id}) }}">edit</a>

    {{ include('doprava/_delete_form.html.twig') }}
{% endblock %}
